In [22]:
import pandas as pd

file_path = "/home/ubuntu/exam_SIMONIN_dvc/examen-dvc/data/raw_data/raw.csv"

def import_dataset(file_path, **kwargs):
    return pd.read_csv(file_path, **kwargs)

df = import_dataset(file_path, sep = ',', encoding = 'utf-8')

In [23]:
df.head()

,date,ave_flot_air_flow,ave_flot_level,iron_feed,starch_flow,amina_flow,ore_pulp_flow,ore_pulp_pH,ore_pulp_density,silica_concentrate
0,2017-04-24 00:00:00,300.263166,383.982443,55.17,1979.589150,599.676489,400.017222,9.774028,1.753206,4.360000
1,2017-04-24 01:00:00,299.782402,386.049069,55.17,1758.466329,600.043100,400.484528,9.539246,1.754190,3.290000
2,2017-04-24 02:00:00,299.750052,385.250935,55.17,2379.752428,599.948406,400.325617,9.434227,1.756873,4.900000
3,2017-04-24 03:00:00,299.997522,389.635519,55.17,2287.130046,599.580383,399.801506,9.725607,1.727125,4.860153
4,2017-04-24 04:00:00,300.005220,387.810807,55.17,2291.789167,599.871217,399.567333,9.845198,1.633063,4.780898

In [24]:
df.isna().sum()

date                  0
ave_flot_air_flow     0
ave_flot_level        0
iron_feed             0
starch_flow           0
amina_flow            0
ore_pulp_flow         0
ore_pulp_pH           0
ore_pulp_density      0
silica_concentrate    0
dtype: int64

In [25]:
def remove_column(dataframe):
    dataframe = dataframe.drop(columns = 'date')
    return dataframe

df = remove_column(df)

In [26]:
df.head()

,ave_flot_air_flow,ave_flot_level,iron_feed,starch_flow,amina_flow,ore_pulp_flow,ore_pulp_pH,ore_pulp_density,silica_concentrate
0,300.263166,383.982443,55.17,1979.589150,599.676489,400.017222,9.774028,1.753206,4.360000
1,299.782402,386.049069,55.17,1758.466329,600.043100,400.484528,9.539246,1.754190,3.290000
2,299.750052,385.250935,55.17,2379.752428,599.948406,400.325617,9.434227,1.756873,4.900000
3,299.997522,389.635519,55.17,2287.130046,599.580383,399.801506,9.725607,1.727125,4.860153
4,300.005220,387.810807,55.17,2291.789167,599.871217,399.567333,9.845198,1.633063,4.780898

In [27]:
from sklearn.model_selection import train_test_split

def split_data(df):
    # Split data into training and testing sets
    target = df['silica_concentrate']
    feats = df.drop(['silica_concentrate'], axis=1)
    X_train, X_test, y_train, y_test = train_test_split(feats, target, test_size=0.3, random_state=42)
    return X_train, X_test, y_train, y_test

In [29]:
X_train, X_test, y_train, y_test = split_data(df)

In [30]:
from sklearn.preprocessing import StandardScaler

def standardizer(X_train, X_test):
    sc = StandardScaler()
    X_train_sc = sc.fit_transform(X_train)
    X_test_sc = sc.fit(X_test)
    return X_train_sc, X_test_sc

X_train_sc, X_test_sc = standardizer(X_train, X_test)